    .full-line{
        display: inline-block;
        margin: 0px;
        width: 99%;
        background: #6c757d;
        height: 10px;
        border-radius: 0.125rem;
    }
    .brake-line1{
        display: inline-block;
        margin: 0px;
        width: 33%;
        background: #6c757d;
        height: 10px;
        border-radius: 0.125rem;
    }
    .brake-line2{
        display: inline-block;
        margin: 0px;
        width: 33%;
        background: #fafafa;
        height: 10px;
        border-radius: 0.125rem;
    }
    .brake-line3{
        display: inline-block;
        margin: 0px;
        width: 33%;
        background: #6c757d;
        height: 10px;
        border-radius: 0.125rem;
    }